@media screen and (max-width: 767px) {
  .gallery {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1167px) {
  .gallery {
    display: none;
  }
}

@media screen and (min-width: 1168px) {
  .gallery {
    background-color: var(--white-background);
    padding-bottom: 120px;
  }

  .gallery__title {
    margin-bottom: 72px;
  }

  .gallery__list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .gallery__item {
    background-color: #ffffff;
  }
}
